---
title: HAWQ General Best Practices
---

This topic addresses general best practices for users who are new to HAWQ.

This section contains general guidelines for using HAWQ. In addition to this section, there are separate sections for best practices for operating and securing HAWQ, as well as for querying data and managing data and resources.

## <a id="task_tx4_bl3_h5"></a>Cluster Management

Use a consistent interface (Ambari or command line) to configure and manage HAWQ. If you use Ambari to install and manage HAWQ, use the Ambari interface, rather than the command line, for all configuration changes.

The configuration parameters for HAWQ are maintained in the `hawq-site.xml` file. This file can be modified either via Ambari or by using HAWQ commands such as  `hawq config`. Use a consistent strategy (Ambari or command line interface) to maintain the contents of `hawq-site.xml`. For Ambari clusters, always use Ambari for configuring `hawq-site.xml` parameters.; restarting or reconfiguring HAWQ via Ambari will overwrite any `hawq-site.xml` configuration changes made outside the Ambari interface.

When using the command line, use `hawq start cluster` or `hawq restart cluster` to start the entire cluster, rather than starting the master and individual segments.

Similarly, if using the command line, stop the entire HAWQ system by stopping the cluster by using the command `hawq stop cluster`. See [Best Practices for Using the Command Line to Start/Stop HAWQ Cluster Members](operating_hawq_bestpractices.html) for more information on the various `hawq stop` options.


## <a id="task_tx4_bl3_h5"></a>Postgres and HAWQ

The  HAWQ system is distributed across multiple machines, and thus differs from a standard PostgreSQL DBMS. Note the following differences and restrictions when using the command line interface, and follow these best practices:

-  Always use HAWQ management commands to start and stop HAWQ, rather than Postres equivalents. 

-  Do not issue a KILL command to end any Postgres process. Instead, use the database command pg_cancel_backend(). 

-  Do not define any parameters by using  `postgresql.conf`. Use only `hawq-site.xml` to configure your HAWQ cluster. Any parameters defined in `hawq-site.xml` will overwrite parameters in `postgresql.conf`.

 




 