---
title: Tutorial Data Set and Scripts
---

The _Getting Started with Pivotal HDB Tutorial_ operates on an example data set.  This data set is provided in a set of `gzip`'d `.tsv` (tab-separated values) text files.  Scripts and other supporting files are also referenced by the tutorial.

In this section, you are introduced to the example data set.  You will also download and examine the data set and tutorial work files if they are not already present on your system.

## <a id="tut_exdownloadfilessteps"></a>Download the Tutorial Files

If not already present in your VM, perform the following steps to download the tutorial work files.  These files include the sample data set and scripts.

1. Open a terminal window and `ssh` into the sandbox VM as the `gpadmin` user.

    ``` shell
    $ ssh gpadmin@vm_ipaddr
    ```

2. Determine if the tutorial work files are present on your system:

    ``` shell
    $ ??WHERE WOULD THEY BE??
    ```
    
    If the work files are present, skip to step 5 of this exercise.
    
3. Create a working directory for the tutorial and data files:

    ``` shell
    $ mkdir $HOME/hawqtutorial
    $ cd $HOME/hawqtutorial
    ```
    
    Ensure that all path components up to and including the `hawqtutorial` base directory have read and execute permissions for all.

4. Download the data set from `github` and check out the appropriate tag:

    ``` shell
    $ git clone git@github.com:lisakowen/pivotal-samples.git  ?? REPLACE WITH REAL REPO NAME ??
    $ cd pivotal-samples
    $ git checkout hdbVERSION_tutorial
    ```
    where _VERSION_ identifies the current version of HDB (dots included, i.e. `hdb2.0_tutorial`).
   
5. Save the path to the tutorial work files base directory:

    ``` shell
    $ export HAWQTUTBASE=$HOME/hawqtutorial/pivotal-samples
    ```
    
    You may want to add this environment variable setting to your `.bash_profile`.
    
    
## <a id="tut_examinefilessteps"></a>Examine the Tutorial Files
    

The tutorial work files `pivotal-samples` directory includes various subdirectories:
  
| Directory                                                    | Content                                                                                                                                                                                            |
|-------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| sample-data/ |  example data set data files; used by HAWQ and PXF tutorials |
| hawq/ | HAWQ-specific tutorial work files |
| hawq/hawq_tables/       | scripts used by HAWQ tables tutorials                                                                                        |
| hawq/pxf_tables/              | scripts used by PXF HDFS tutorials                                                                                         |
| hawq/pxf\_hbase\_tables/      | scripts used by PXF HBase plug-in tutorials                                                                                         |

?? CHANGE DIRECTORY STRUCTURE -i.e HAVE DIR FOR EACH SERVICE?  like hawq, pxf/hdhfs, pxf/hbase ... ???

The HAWQ and PXF exercises include SQL, shell, and perl scripts to create, load, and verify table creation.

## <a id="tut_datasetschema"></a>Data Set Schema

The sample Retail data set used in the tutorial exercises models an online retail store operation.  The store carries products.  Customers order the products.  The company delivers the products.

The Retail data set includes the following entities.  Orders and order line items are fact tables.  The other entities are represented in dimension tables.

<table>
  <tr>
    <th>Entity</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>customers_dim</td>
    <td>Customer data: first/last name, id, gender</td>
  </tr>
  <tr>
    <td>email_addresses_dim</td>
    <td>Customer e-mail addresses</td>
  </tr>
  <tr>
    <td>product_dim</td>
    <td>Product details including name, id, category, and price</td>
  </tr>
  <tr>
    <td>customer_addresses_dim</td>
    <td>Address and phone number of each customer</td>
  </tr>
  <tr>
    <td>order_lineitems</td>
    <td>Line item for each order: includes id, item id, category, store, shipping address, and other fields; references a specific product ordered by a specific customer</td>
  </tr>
  <tr>
    <td>orders</td>
    <td>Details of an order: includes id, payment method, billing address, day/time, and other fields; orders are associated with a specific customer</td>
  </tr>
  <tr>
    <td>categories_dim</td>
    <td>Product categories</td>
  </tr>
</table>
  
